@import url(https://fonts.googleapis.com/css?family=Lato:300,400,900);
body {
  font-family: 'Lato', sans-serif !important;
  font-weight: 300;
  background: url('../imgs/content-bg.jpg');
  color: #ffffff;
  font-size: 25px;
}
.container {
  max-width: 1140px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lato', sans-serif !important;
  font-style: normal;
  color: #f37022;
}
.hero {
  background: url('../imgs/hero1.jpg');
  background-size: cover;
  max-height: 800px;
  min-height: 700px;
  position: relative;
}
.hero .hero-message {
  position: absolute;
  background-color: rgba(144, 144, 144, 0.9);
  text-align: center;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  left: 0;
  right: 0;
  bottom: 50px;
  margin: auto;
}
@media (max-width: 992px) {
  .hero .hero-message {
    position: relative;
    margin-top: 70px;
  }
}
.hero .hero-message .hero-message-copy {
  margin-left: auto;
  margin-right: auto;
  float: none;
}
.hero .hero-message .hero-message-copy h1 {
  font-size: 55px;
  border-bottom: 1px solid #b7b7b7;
  padding-bottom: 15px;
}
@media (max-width: 480px) {
  .hero .hero-message .hero-message-copy h1 {
    font-size: 40px;
  }
}
.hero .hero-message .hero-message-copy p {
  font-size: 38px;
  margin-top: 15px;
  font-weight: 300;
  line-height: 1.2em;
}
@media (max-width: 992px) {
  .right-column {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}
.right-column ul.detail-list {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0;
  border-top: 1px solid #b7b7b7;
  border-bottom: 1px solid #b7b7b7;
}
.right-column ul.detail-list li {
  background: url('../imgs/li-circle.png') no-repeat 0 0.4em;
  margin: 10px 0;
  display: inline-block;
  padding-left: 1.5em;
}
.right-column .sweeps-info h2 {
  padding-top: 0;
  margin-top: 0;
}
@media (max-width: 992px) {
  .right-column .sweeps-info h2 {
    text-align: center;
    margin-top: 20px;
  }
}
.right-column #sponsors {
  text-align: center;
  border-bottom: 1px solid #b7b7b7;
  padding-bottom: 20px;
}
.right-column #sponsors .presented-by {
  color: #f37022;
  font-size: 20px;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .right-column #sponsors .half-width {
    margin-bottom: 30px;
  }
}
.right-column #sponsors .full-width {
  margin-top: 30px;
}
.left-column .viral-sweep {
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1200px) {
  .left-column .viral-sweep {
    max-width: 500px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .left-column .viral-sweep {
    max-width: 500px;
    padding-left: 0;
    padding-right: 30px;
  }
}
.left-column #sweeps-carousel {
  margin-top: 30px;
  max-width: 500px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .left-column #sweeps-carousel {
    padding-right: 30px;
  }
}
@media (max-width: 992px) {
  .left-column #sweeps-carousel {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
}
.left-column #sweeps-carousel .carousel-indicators {
  bottom: 0px;
}
.left-column #sweeps-carousel .carousel-indicators li {
  background-color: #f37022;
  border: 0;
}
.left-column #sweeps-carousel .carousel-indicators li.active {
  background-color: #ffffff;
}
footer {
  margin-top: 20px;
}
footer p {
  font-size: 15px;
}
@media (max-width: 992px) {
  footer {
    text-align: center;
  }
}
